<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('IMG')" data-ng-class="{active: currency.symbol == 'IMG'}">IMG</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mIMG')" data-ng-class="{active: currency.symbol == 'mIMG'}">mIMG</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('uIMG')" data-ng-class="{active: currency.symbol == 'uIMG'}">uIMG</a>
  </li>
</ul>

